

:root {
    --primary1: rgba(7, 7, 190, 0.973);
    --primary2: white;
    --highlights: rgba(128, 128, 128, 0.548);
}


   

body {
    background-image: url(../images/anon.jpg);
    background-position: center;
    background-size: cover;
}

main{
    
}

aside{
    margin-bottom: auto;
}

h1 { 
    color: var(--primary2);
}

h2 {
    color: var(--primary2);
}



#about-me {
    margin:auto
    padding: 10px;
    float: left;
    width: 20%;
    height: 100%;
}

p {
    color: var(--primary1);
}

#Work  {
    margin: auto;
    padding: 10px;
    float: right;
    width: 20%;
    height: 100%;
} 

#img1 {
    width: auto;
    height: auto;
    margin: 2px;
    padding: 2px;
    
}

#contact{
    
    
    
}












