* {
    box-sizing: border-box;
}

:root {
    --primary1: rgba(7, 7, 190, 0.973);
    --primary2: white;
    --highlights: rgba(128, 128, 128, 0.548);
}

@media screen and (max-width: 1300px) {
    
    #apps {
        position: relative;
        right: 600px;
    }
    #contact {
        position: absolute;
        left: 1px;

    }
   
  }



 

body {
    color:var(--primary2);
    background-image: url(../images/anon.jpg);
    background-position: center;

    
}



#about-me {
    display: inline-block;
    width: 30%;
    color: white;
    
    
    
    
    
   
}

a {
    color: var(--primary1);
}



    
#apps{
    display: inline-block;
    margin-left: 650px;
   
    
    
  
}

.imgSmall {
    width: 200px;
}

#footCon {
    position: relative;
}

footer{
    text-align: center;
}





.App:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 10px rgba(255, 255, 255, 1);
    color: black;
}

#me {
    height: 250px;
    width: 200px;
}
